name: "[CI] Continuous Integration"

#Sempre que tive um commit ou um PR for aberto
on:
	pull_request:
		types: [opened, synchronize]

jobs:
	#eslint configuration CI runs-on, steps
	 test:
    runs-on: ubuntu-latest
    container: cypress/browsers:node18.12.0-chrome107
    steps:
      ## [Common_CI_Steps]
      - uses: actions/checkout@v3
      ## =================
      - name: "Install Dependencies"
        run: "npm install"
      - name: "Test - Cypress"
        run: "npm run test"
